.footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.footer_block {
  display: flex;
  flex-direction: column;
}

.footer_block img {
  height: 20px;
}

.footer_block svg {
  height: 40px;
}

.footer_block__social {
  display: flex;
  gap: 10px;
}